body{
    background-color: #f4f9f4;
     /* background-color: #232323;  */
    margin: 0;
    font-family:"Montserrat","Avenir";
}
.square{
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin : 1.66%;
    border-radius: 15%;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
}
.container{
    max-width: 600px;
    margin: 20px auto;
}
h1{
    background-color:#008891;
    line-height: 1.1;
    font-weight: normal;
    text-align: center;
    color: white;
    margin: 0;
    text-transform: uppercase;
    padding : 20px 0 ;
}
#colorDisplay{
    font-size: 200%;
}
#message{
    display: inline-block;
    width: 20%;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

#stripe{
    background-color: white;
    height: 30px;
    text-align: center;
    /* border-bottom: solid; */
    border-top: solid;
    border-color: #008891 ;
}
.selected{
    background-color:#008891;
    color: white;
}
button{
    outline: none;
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color:#008891;
    letter-spacing: 1px;
    font-size: 20px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
button:hover{
    color: white;
    background:#008891;
}


